checkpoints/
*.pyc
__pycache__/
pretrained/
processed_data_frameskip_4/

process_game2_data_fixed.py
render_episodes/
analyze_action_distribution.py
rnd_visualize.py
rnd_vis/
vae_visualize.py
vae_vis/
ae_visualize.py
ae_vis/
ensemble_visualize.py
ensemble_vis/
*.csv
*.pth


*.err
*.out
*.slurm
experiments/