checkpoints/
*.pyc
__pycache__/
pretrained/
processed_data_frameskip_4/

process_game2_data_fixed.py
render_episodes/
analyze_action_distribution.py
variance/
rsa_*/
logs/
rsa_dqn_vs_bc.py
rsa_dqn_vs_cql.py
entropy_*/
analyze_*.py
uncertainty_*/
find_*.py
train_context_dqn_visualize.py

mat/
mat_*/
compute_glm_*.py
*.csv
*.pth
*.png
*.mat


*.err
*.out
*.slurm
experiments/